/*.parallax img {
	@media #{$medium-and-up} {
		width: 100%;
	}
}*/

.parallax img {
    @media #{$small-and-down} { max-width: 200%; }
    @media #{$medium-and-up} { width: 100%; }
}

.marketing-parallax-title {
	margin-bottom: 0;
	margin-left: 0.1em;
	color: #333;
	font-family: 'Yantramanav', sans-serif;
}

.marketing-parallax-subtitle {
	margin-left: 0.5em;
}
.marketing-parallax-subtitle span {
	font-size: 2em;
}

.parallax-marketing-overlay {
	width: 90%;
}

.parallax-marketing-text-container {
	background: rgba(255, 255, 255, 0.5);
	width: 33%;
	color: #232323;
	padding: 0 0 0.5em 0.5em;
	min-width: 400px;
}
.parallax-marketing-text-container p {
	margin-left: 0.5em;
    font-size: 1.25em;
    color: #000066;
    font-weight: bold;
}
.parallax-link:hover {
	cursor: pointer;
	text-decoration: underline;
}

#site-logo-image {
    height: 1.5em;
    width: 1.5em;
    margin-top: 0.25em;
    margin-left: 0.25em;
}

#simple-civics-nav {
	background-color: #006600;
}

#brand-name {
    margin: 0 0 0 3em;
    font-size: 1.5em;
}
#brand-name span {
    font-weight: bolder;
    margin-left: 0.1em;
}

#site-logo-area {
	width: 0;
}
#site-logo-area a {
	position: absolute;
    top: 0;
    left: 0;
}

/** prevent logo from smashing to left on smaller screens */
@media only screen and (max-width: 992px) {
	nav .brand-logo {
	    left: 50%;
	    -webkit-transform: none;
	    transform: none;
	}
}

#simple-civics-slogan {
    position: absolute;
    top: 0;
    left: 13em;
}

#simple-civics-slogan span {
    position: absolute;
    top: 0.1em;
    left: 0.75em;
    width: 15em;
    font-style: italic;
}

#slogan-separator {
    left: 0.1em !important;
    font-size: 1.5em;
    top: -0.05em !important;
}

.card-expand-button {
	cursor: pointer;
	max-width: 2em;
	margin: 1em auto 0 auto;
}

.simple-civics-card-reveal {
	/*overflow-y: hidden !important;*/
	color: black;
	background-color: #efefef !important;
}

.simple-civics-card {
    background-color: #006600;
    color: white;
    min-width: 225px;
    max-width: 425px;
}